@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700&display=swap&subset=chinese-traditional");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #f6f7f8;
  font-family: "Noto Sans TC", sans-serif;
  /* 設定字型 */
  font-size: 1rem;
  line-height: 1.4;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  line-height: 0.9;
}

p {
  margin: 0;
}

ul,
li {
  list-style-type: none;
  /* 拿掉前方圈圈 */
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  /* 拿掉底線 */
}

/* 設定區塊寬度一致並置中 */
.container {
  width: 85%;
  margin: 0 auto 3rem auto;
}

/* 共用按鈕樣式 */
.action {
  color: white;
  background: #39bae6;
  border-radius: 0.25rem;
  display: inline-block;
  font-size: 1rem;
  padding: 0.25rem 1rem;
  transition: all 0.1s linear;
}

/*彈出視窗*/
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


.action:hover {
  background: #267c99;
  /* 陰影 */
  -webkit-box-shadow: 0px 1px 5px 0px rgba(87, 87, 87, 1);
  -moz-box-shadow: 0px 1px 5px 0px rgba(87, 87, 87, 1);
  box-shadow: 0px 1px 5px 0px rgba(87, 87, 87, 1);
}

.background-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/********* 電腦版樣式 *********/
@media screen and (min-width: 768px) {
  .action {
    font-size: 1.2rem;
    padding: 0.75rem 2rem;
  }
}

header {
  width: 100%;
  height: 60px;
  text-align: center;
  background: #ffffff;
  /* 陰影 */
  -webkit-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
  /*固定置頂*/
  position: fixed;
  z-index: 999;
}

.nav {
  position: absolute;
  top: 100%;
  /*置於父元素正下方*/
  width: 100%;
  background: #ffffff;
  transform-origin: top;
  transition: transform 0.3s ease-out;
  transform: scale(1, 0);
}

.navbar-brand {
  color: #267b98;
  font-size: 1.5rem;
  font-weight: 700;
  /*與外層 Header 高度相同達到垂直置中*/
  line-height: 60px;
}

.nav-item {
  margin: 1.4rem 0;
  opacity: 0;
}

.nav-link {
  color: #267b98;
}

.navbar-toggle:checked~.nav {
  transform: scale(1, 1);
}

.navbar-toggle:checked~.nav .nav-item {
  opacity: 1;
  transition: opacity 0.2s ease-out .15s;
}

.navbar-toggle-label {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 7.5%;
  display: flex;
  align-items: center;
}



.hamburger,
.hamburger::after,
.hamburger::before {
  width: 30px;
  height: 3px;
  background: #267b98;
}

.hamburger::before,
.hamburger::after {
  content: '';
  left: 0;
  position: absolute;
}

.hamburger {
  position: relative;
}

.hamburger::before {
  bottom: 8px;
}

.hamburger::after {
  top: 8px;
}

.navbar-toggle {
  visibility: hidden;
  position: absolute;
}

.album-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
  grid-gap: 1.5rem;
}

.card {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
  position: relative;
  background: #a9a9a9;
}

.card::before,
.card::after {
  content: '';
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  transition: transform 0.4s ease-out;
}

.card::before {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  transform: scale(0, 1.05);
}

.card::after {
  border-right: 1px solid white;
  border-left: 1px solid white;
  transform: scale(1.05, 0);
}

.card:hover::after {
  transform: scale(1, 1.05);
}

.card:hover::before {
  transform: scale(1.05, 1);
}

.card-img {
  width: 100%;
  height: 300px;
  display: block;
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

.card-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3S ease-out;
}

.card:hover .card-text {
  opacity: 1;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 0.2em;
}

.card-description {
  font-size: 1rem;
}

.card:hover .card-img {
  opacity: 0.4;
}

.adoption-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 135px;
  width: 100%;
  background: white;
  -webkit-box-shadow: 2px 10px 12px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 10px 12px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 10px 12px 0px rgba(0, 0, 0, 0.1);
}

.adoption-image {
  width: 100%;
}

.adoption-info {
  display: grid;
  align-content: center;
  justify-items: center;
  padding: 1.2rem;
}

.adoption-info .title {
  font-size: 1.75rem;
  margin-bottom: 0.4rem;
  color: #267c99;
}

.adoption-info .description {
  font-size: 1rem;
  margin-bottom: 0.9rem;
  color: #5e5c5c;
}

footer {
  width: 100%;
  text-align: center;
  background: #4a4a4a;
  padding: 1rem;
  color: white;
  letter-spacing: 2px;
}

html {
  scroll-behavior: smooth;
}


/*桌機*/
@media screen and (min-width: 768px) {
  .navbar-toggle-label {
    display: none;
  }

  .nav {
    all: unset;
    grid-column: 3/4;
  }

  .nav-item {
    margin: 0;
    opacity: 1;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr
  }

  .navbar-brand {
    grid-column: 2/3;
  }

  .nav-list {
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: end;
    grid-gap: 2rem;
  }

  .adoption-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 2rem;
  }

  .adoption-info {
    justify-items: start;
  }

  .adoption-info .title {
    font-size: 3rem;
  }

  .adoption-info .description {
    font-size: 1.875rem;
  }
}